<link rel="stylesheet" type="text/css" href="postcards.css">
<div style="max-width:50vw;margin: auto;">

<input type="checkbox" id="postcard-{{.Name}}">
<label for="postcard-{{.Name}}">
	<div class="postcard flip-{{ .Flip }} {{ if gt .Physical.FrontDimensions.PxHeight .Physical.FrontDimensions.PxWidth }}portrait{{ else }}landscape{{ end }}" style="--postcard: url('{{ .Name }}.postcard.jpg'); --aspect-ratio: {{ .Physical.FrontDimensions.PxWidth }} / {{ .Physical.FrontDimensions.PxHeight }}">
		<img src="{{ .Name }}.postcard.jpg" loading="lazy" alt="{{ .Front.Description }}" width="500px">
		<div class="shadow"></div>
	</div>
</label>