{{ comment "Make sure you reference postcards.css in your <head>" }}
<link rel="stylesheet" type="text/css" href="postcards.css">
{{ comment "You can set the width of .postcard in CSS to limit the size of all postcards on your page" }}
<style>.postcard { max-width: 50vw; margin: auto; } body { margin: 1em; }</style>
{{ comment "Put the lines following this wherever you want your postcard" }}

<input type="checkbox" id="postcard-{{.Name}}" style="display:none">
<label for="postcard-{{.Name}}" class="postcard flip-{{ .Flip }} {{ if gt .Physical.FrontDimensions.PxHeight .Physical.FrontDimensions.PxWidth }}portrait{{ else }}landscape{{ end }}" style="--postcard: url('{{ .Name }}.postcard{{ .ImageExt }}'); --aspect-ratio: {{ .Physical.FrontDimensions.PxWidth }} / {{ .Physical.FrontDimensions.PxHeight }}">
	<img src="{{ .Name }}.postcard{{ .ImageExt }}" loading="lazy" alt="{{ .Front.Description }}">
	<div class="shadow"></div>
</label>